<!--
Pizzly authorization callback. Read more about how to use it at: https://github.com/Bearer/Pizzly
-->
<html>
  <head>
    <meta charset="utf-8" />
    <title>Authorization callback</title>
    <link rel="shorcut icon" sizes="128x128" type="image/x-icon" href="/assets/img/logos/favicon.ico" />
  </head>
  <body>
    <noscript>JavaScript is required to proceed with the authentication.</noscript>
    <script type="text/javascript">
      window.integration = '<%= integrationUuid %>'
      window.authId = '<%= authId %>'
      window.authError = '<%= error %>'
      window.authErrorDescription = '<%= error_description %>'

      const message = {}

      if (window.authError) {
        message.eventType = 'AUTHORIZATION_FAILED'
        message.data = {
          error: {
            type: window.authError,
            message: window.authErrorDescription
          }
        }
      } else {
        message.eventType = 'AUTHORIZATION_SUCEEDED'
        message.data = { authId: window.authId }
      }

      // Tell the world what happened
      window.opener && window.opener.postMessage(message, '*')

      // Close the modal
      window.setTimeout(function() {
        window.close()
      }, 300)
    </script>
  </body>
</html>
