<!--
Pizzly authorization callback. Read more about how to use it at: https://github.com/Bearer/Pizzly
-->
<html>
  <head>
    <meta charset="utf-8" />
    <title>Authorization callback</title>
  </head>
  <body>
    You can close this window.
    <script type="text/javascript">
      window.integration = '<%= integrationUuid %>'
      window.authId = '<%= authId %>'
      window.authError = '<%= error %>'
      window.authErrorDescription = '<%= error_description %>'

      const message = {}

      if (window.authError) {
        message.eventType = 'AUTHORIZATION_FAILED'
        message.error = {
          type: window.authError,
          message: window.authErrorDescription
        }
      } else {
        message.eventType = 'AUTHORIZATION_SUCEEDED'
        message.data = { authId: window.authId }
      }

      // Tell the world what happened
      window.opener.postMessage(message, '*')

      // Close the modal
      window.close()
    </script>
  </body>
</html>
