<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Oops something went wrong</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet" />
    <link rel="shorcut icon" sizes="128x128" type="image/x-icon" href="/assets/img/logos/favicon.ico" />
    <style>
      * {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        margin: 0;
        padding: 0;
        border: 0;
      }
      html,
      body {
        background-color: #f6f6fa;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 16px;
        line-height: 16px;
      }
      h1 {
        color: #4c14e9;
        margin-bottom: 16px;
        font-size: 32px;
        font-weight: 600;
      }
      h3 {
        color: #9f82ea;
        margin-bottom: 3px;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
      }
      div {
        color: #2f1869;
        font-size: 16px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
      }
      p {
        line-height: 22px;
      }
      a {
        text-decoration: none;
      }
      .container {
        display: table;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
      }
      .middle {
        display: table-cell;
        vertical-align: middle;
      }
      .inner {
        margin-left: auto;
        margin-right: auto;
        max-width: 400px;
      }
      .image-bg {
        display: flex;
        align-items: center;
        background-color: #ece6fd;
        border-radius: 100%;
        margin-right: 12px;
        margin-bottom: 24px;
        height: 80px;
        width: 80px;
        text-align: center;
      }
      .image-bg svg {
        margin: 0 auto;
        display: block;
      }
      .button {
        border-radius: 4px;
        border: solid 1px #eae7f2;
        box-shadow: 0 2px 2px 0 rgba(91, 68, 151, 0.04);
        display: inline-flex;
        margin-top: 32px;
        padding: 12px 16px;
        background-color: #ffffff;
        color: #4c14e9;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0px;
      }

      #error{
        display: none;
      } 
    </style>
  </head>
  <body>
    <div class="container">
      <div class="middle">
        <div class="inner">
          <div>
            <div class="image-bg">
              <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 16 16">
                <g fill="none" fill-rule="nonzero">
                  <path
                    fill="#dc4c4c"
                    d="M12.387 8.494c-.26-.453-.867-.626-1.357-.386a.969.969 0 0 0-.417.386l-3.5 6.165a.855.855 0 0 0 .033.901c.183.273.506.44.854.44h7c.348 0 .67-.166.854-.439a.854.854 0 0 0 .033-.902l-3.5-6.165zM10.98 10.88c0-.265.233-.48.52-.48.287 0 .52.215.52.48v1.92c0 .265-.233.48-.52.48-.287 0-.52-.215-.52-.48v-1.92zm.52 4c-.383 0-.693-.287-.693-.64 0-.353.31-.64.693-.64.382 0 .692.287.692.64 0 .353-.31.64-.692.64z"
                  />
                  <path
                    fill="#9F82EA"
                    d="M14 0H2C.895 0 0 .852 0 1.902v9.196C0 12.148.895 13 2 13h4c.368 0 .667-.284.667-.634 0-.35-.299-.634-.667-.634H2c-.368 0-.667-.284-.667-.634v-7.77c0-.087.075-.158.167-.158h13c.092 0 .167.071.167.159v3.963c0 .35.298.634.666.634.369 0 .667-.284.667-.634v-5.39C16 .852 15.104 0 14 0zM2.897 1.902a.662.662 0 0 1-1.128 0 .595.595 0 0 1-.102-.317c.003-.348.3-.63.666-.634a.663.663 0 0 1 .564.317c.064.095.1.205.103.317a.595.595 0 0 1-.103.317zm2.334 0a.662.662 0 0 1-1.129 0A.595.595 0 0 1 4 1.585a.593.593 0 0 1 .102-.317.662.662 0 0 1 1.129 0c.064.095.1.205.102.317a.595.595 0 0 1-.102.317zm2.333 0a.662.662 0 0 1-1.129 0 .595.595 0 0 1-.102-.317.593.593 0 0 1 .102-.317.662.662 0 0 1 1.129 0c.064.095.1.205.103.317a.595.595 0 0 1-.103.317z"
                  />
                </g>
              </svg>
            </div>
            <h3>error</h3>
            <h1>Oops something went wrong</h1>

            <p>
              We were unable to connect you. Make sure the application is configured correctly and/or contact the
              application owner to proceed further.
            </p>
            <p id="error">Error: <%= error %></p>
            <a class="button" href="javascript:window.close()"> Close this window </a>
            <a class="button" href="javascript:showError()"">Show error</a>
          </div>
        </div>
      </div>
    </div>
    <script>function showError () {document.getElementById('error').style.display = 'block'}</script>
  </body>
</html>
