<!DOCTYPE html>
<html>
  <%- include('layout-head', { title: "404 (Not found)"}) %>
  <body>
    <main class="container">
      <section class="error">
        <img style="opacity:0.8" src="/assets/img/logos/pizzly.png" height="200" />
        <h1>404 - Not found</h1>
        <p>The requested entity was not found.</p>
      </section>
    </main>
  </body>
</html>
