<!DOCTYPE html>
<html>
  <%- include('layout-head', { title: "500 (Internal Server Error)"}) %>
  <body>
    <main class="container">
      <section class="error">
        <img style="opacity:0.8" src="/assets/img/logos/pizzly.png" height="200" />
        <h1>500 - Internal Server Error</h1>
        <p>Something went wrong. The error has been logged.</p>
      </section>
    </main>
  </body>
</html>
