<% const base = `/dashboard/${req.params.api}`; %>

<!DOCTYPE html>
<html>
  <%- include('layout-head', { title: `Users - ${req.data.api.name} API` }) %>

  <body>
    <!-- Header -->
    <%- include('layout-header-api') -%>

    <main class="container">
      <section>
        <header>
          <h2>Users authenticated</h2>
          <aside>
            <a href="/TODO" class="button button-primary">Connect button</a>
          </aside>
        </header>

        <div class="table">
          <table>
            <thead>
              <tr>
                <th>Auth ID</th>
                <th>Setup ID</th>
                <th>Scopes</th>
                <th class="col-date">Last modified</th>
                <th class="col-date">Creation date</th>
                <th class="col-actions"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="ellipsis"><span>21438ef4b9ad4fc21438ef4b9ad4fc</span></td>
                <td class="ellipsis"><span>21438ef4b9ad4fc21438ef4b9ad4fc</span></td>
                <td></td>
                <td class="col-date">Dec 23, 2019</td>
                <td class="col-date">Dec 23, 2019</td>
                <td class="col-actions">
                  <a data-icon="view" href="./users/21438ef4b9ad4fc21438ef4b9ad4fc" alt="Edit">Edit</a>
                  <a data-icon="delete" href="#delete" alt="Delete">Delete</a>
                </td>
              </tr>
              <tr>
                <td class="ellipsis"><span>21438ef4b9ad4fc21438ef4b9ad4fc</span></td>
                <td class="ellipsis"><span>21438ef4b9ad4fc21438ef4b9ad4fc</span></td>
                <td></td>
                <td class="col-date">Dec 23, 2019</td>
                <td class="col-date">Dec 23, 2019</td>
                <td class="col-actions">
                  <a data-icon="view" href="./users/21438ef4b9ad4fc21438ef4b9ad4fc" alt="Edit">Edit</a>
                  <a data-icon="delete" href="#delete" alt="Delete">Delete</a>
                </td>
              </tr>
              <tr>
                <td class="ellipsis"><span>21438ef4b9ad4fc21438ef4b9ad4fc</span></td>
                <td class="ellipsis"><span>21438ef4b9ad4fc21438ef4b9ad4fc</span></td>
                <td></td>
                <td class="col-date">Dec 23, 2019</td>
                <td class="col-date">Dec 23, 2019</td>
                <td class="col-actions">
                  <a data-icon="view" href="./users/21438ef4b9ad4fc21438ef4b9ad4fc" alt="Edit">Edit</a>
                  <a data-icon="delete" href="#delete" alt="Delete">Delete</a>
                </td>
              </tr>
              <tr>
                <td class="ellipsis"><span>21438ef4b9ad4fc21438ef4b9ad4fc</span></td>
                <td class="ellipsis"><span>21438ef4b9ad4fc21438ef4b9ad4fc</span></td>
                <td></td>
                <td class="col-date">Dec 23, 2019</td>
                <td class="col-date">Dec 23, 2019</td>
                <td class="col-actions">
                  <a data-icon="view" href="./users/21438ef4b9ad4fc21438ef4b9ad4fc" alt="Edit">Edit</a>
                  <a data-icon="delete" href="#delete" alt="Delete">Delete</a>
                </td>
              </tr>
              <tr>
                <td class="ellipsis"><span>21438ef4b9ad4fc21438ef4b9ad4fc</span></td>
                <td class="ellipsis"><span>21438ef4b9ad4fc21438ef4b9ad4fc</span></td>
                <td></td>
                <td class="col-date">Dec 23, 2019</td>
                <td class="col-date">Dec 23, 2019</td>
                <td class="col-actions">
                  <a data-icon="view" href="./users/21438ef4b9ad4fc21438ef4b9ad4fc" alt="Edit">Edit</a>
                  <a data-icon="delete" href="#delete" alt="Delete">Delete</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="pagination">
          <a href="?prev=true" class="button">Prev</a>
          <a href="?next=true" class="button">Next</a>
        </div>
      </section>
    </main>

    <!-- Footer -->
    <%- include('layout-footer') -%>
  </body>
</html>
