<% const base = `/dashboard/${req.params.api}`; %>

<!DOCTYPE html>
<html>
  <%- include('layout-head', { title: `New credentials - ${req.data.api.name} API`}) %>

  <body>
    <!-- Header -->
    <%- include('layout-header-api') -%>

    <main class="container">
      <section>
        <header>
          <h2>New credentials</h2>
        </header>

        <form method="POST">
          <fieldset>
            <label>Client ID</label>
            <input type="text" class="form-input" />
          </fieldset>

          <fieldset>
            <label>Client Secret</label>
            <input type="text" class="form-input" />
          </fieldset>

          <fieldset>
            <label>Scopes</label>
            <textarea class="form-input" rows="8"></textarea>
          </fieldset>

          <div class="form-actions">
            <button class="button button-primary" type="submit">Save</button>
            <a class="button" href="javascript:history.back()">Cancel</a>
          </div>
        </form>
      </section>
    </main>

    <!-- Footer -->
    <%- include('layout-footer') -%>
  </body>
</html>
