<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= typeof title === "string" && `${title} - Pizzly` || 'Pizzly' %></title>
  <link rel="shorcut icon" sizes="128x128" type="image/x-icon" href="/assets/img/logos/favicon.ico" />
  <link rel="stylesheet" href="/assets/css/dashboard.css" />
</head>
