<header>
  <div class="container">
    <a href="/dashboard/">
      <img src="/assets/img/logos/pizzly.png" class="logo" alt="Pizzly" height="80" />
    </a>

    <h1>Pizzly</h1>

    <nav>
      <ol>
        <li class="<%= req.path.indexOf('all') === -1 ? 'active' : '' %>">
          <a href="/dashboard">Enabled</a>
        </li>

        <li class="<%= req.path.indexOf('all') > 0 ? 'active' : '' %>">
          <a href="/dashboard/all">All</a>
        </li>
      </ol>
    </nav>
  </div>
</header>
