html,
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f1f3f4;
  margin: 0;
  padding: 0;
  color: #333;
}

.container {
  max-width: 60rem;
  padding: 0 1.5rem;
  margin: 0 auto;
  position: relative;
}

.sosumi {
  font-size: 0.85rem;
  color: #86868b;
}

.sosumi a {
  color: #515154 !important;
  text-decoration: none;
}

/**
 * General Header
 */

body > header {
  background-color: #fff;
}

body > header h1 {
  margin: 0;
  padding: 2rem 0;
}

body > header h1 a {
  color: inherit;
  text-decoration: none;
}

body > header h1 a:hover {
  text-decoration: underline;
}

body > header .separator {
  color: #d3d3d3;
}

body > header nav ol,
body > header nav ul {
  list-style: none;
}

body > header nav ol,
body > header nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}

body > header nav li {
  margin-right: 2rem;
  color: #666;
  animation: color 0.5s ease;
}

body > header nav li:not(.active):hover {
  color: #000;
}

body > header nav li.active {
  color: #1a73e8;
}

body > header nav li.active:after {
  content: '';
  display: block;
  height: 4px;
  width: 110%;
  position: relative;
  left: -5%;
  margin-top: 0.5rem;
  background-color: #1a73e8;
}

body > header nav li a {
  text-decoration: none;
  color: inherit;
}

body > header .logo {
  position: absolute;
  right: 1.5rem;
  top: 2rem;
  height: 5rem;
}

/**
 * General Footer
 */

body > footer {
  text-align: center;
  margin-top: 2rem;
  font-size: 0.9rem;
  color: #666;
}

body > footer .content {
  border-top: 1px solid #d3d3d3;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body > footer a {
  color: #333;
  text-decoration: none;
}

/**
 * Content 
 */

body > main {
  min-height: 30rem;
}

body > main section {
  margin: 3rem 0;
}

body > main section h2 {
  font-size: 1.4rem;
  font-weight: 500;
  margin: 0 0 2rem 0;
}

body > main section p.section-intro {
  margin-top: -1rem;
}

body > main section header {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

body > main section header h2 {
  margin: 0;
}

/**
 * Content > Table
 */

table {
  background-color: #fff;
  border-radius: 4px;
  border-collapse: collapse;
  font-size: 0.95rem;
  width: 100%;
}

table thead {
  background-color: #fff;
  border-bottom: 1px solid #f0f2f7;
}

table thead th {
  padding: 1rem 0.5rem;
  text-align: left;
  font-size: 0.9rem;
}

table thead th:first-child {
  border-top-left-radius: 4px;
}

table thead th:last-child {
  border-top-right-radius: 4px;
}

table thead th:first-child,
table tbody td:first-child {
  padding-left: 1rem;
}

table thead th:last-child,
table tbody td:last-child {
  padding-right: 1rem;
}

table tbody td {
  padding: 0.75rem 0.25rem;
}

table tbody td.ellipsis span {
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  max-width: 10rem;
}

table .col-center {
  text-align: center;
}

table .col-right {
  text-align: right;
}

table .col-date {
  min-width: 7rem;
  text-align: center;
}

table .col-actions {
  width: 4rem;
  text-align: right;
}

table .col-ellipsis {
  max-width: 12rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.table-empty {
  text-align: center;
  padding: 3rem;
  background: #fff;
}

/**
 * Content > Form
 */

form fieldset {
  border: 0;
  width: 100%;
  margin: 0;
  padding: 1rem 0;
}

form fieldset label,
form fieldset .form-input,
form fieldset .form-json {
  display: inline-block;
  vertical-align: top;
  font-family: inherit;
}

form fieldset label {
  width: 10rem;
  padding: 0.5rem 0;
}

form fieldset .form-input,
.form-json {
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
  font-size: 1rem;
  border: 1px solid #d3d3d3;
  background: #fff;
}

.form-json .json-formatter-string {
  white-space: pre-wrap !important;
}

form fieldset .form-hint {
  margin: 0;
  padding: 0.5rem 0 0 0;
  opacity: 0.8;
}

form fieldset .form-hint pre {
  background: #e1e9fb;
  display: inline-block;
  padding: 4px 6px;
  border-radius: 4px;
}

.form-input[disabled='disabled'] {
  cursor: not-allowed;
  background-color: #d3d3d3;
}

@media (min-width: 63rem) {
  form fieldset .form-input,
  form fieldset .form-json {
    width: 49rem;
  }

  form fieldset .form-hint,
  form .form-actions {
    margin-left: 10.25rem;
  }
}

/**
* Content > API Request
*/

#proxy-response {
  height: 1rem;
  padding: 0.5rem 0;
}

#proxy-response-body {
  min-height: 25vh;
}

/**
* Content > Pagination
*/

.pagination {
  margin: 1rem;
  text-align: center;
}

/**
 * Content > APIs list
 */

.api-list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 0 -1rem;
}

.api-list li {
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 10rem;
  margin: 1rem 1rem;
}

.api-list li a {
  text-decoration: none;
  color: inherit;
}

.api-list li a:hover {
  color: #000;
}

.api-list li a:hover figure div {
  color: #000;
  border-color: #d3d3d3;
}

.api-list figure {
  margin: 0;
  padding: 0;
  text-align: center;
}

.api-list figure div {
  background: #fff;
  width: 10rem;
  height: 10rem;
  border-radius: 4px;
  border: 1px solid #d3d3d3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.api-list figure img {
  max-width: 100px;
  max-height: 100px;
}

.api-list figure figcaption {
  display: block;
  padding-top: 0.5rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.animation-removal {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

/**
 * Content > Error pages
 */

.error {
  text-align: center;
}

/**
 * Buttons
 */

.button {
  display: inline-block;
  text-decoration: none;
  color: #333;
  padding: 0.5rem 1rem;
  font-weight: 500;
  background: #e7e7e9;
  border-radius: 0.25rem;
  border: 1px solid transparent;
  font-size: 0.95rem;
  cursor: pointer;
  outline: none;
}

.button:hover {
  background-color: #d3d3d3;
}

.button-primary {
  background-color: #207af9;
  color: white;
}

.button-primary:hover {
  background-color: #0d6ff8;
}

.button-primary-outline {
  background-color: white;
  border: 1px solid #207af9;
  color: #207af9;
}

.button-primary-outline:hover {
  background-color: #207af9;
  color: white;
}

/**
 * Icons
 */

a[data-icon],
span[data-icon] {
  color: transparent;
  overflow: hidden;
  width: 20px;
  height: 20px;
  display: inline-block;
  content: '';
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center center;
  opacity: 0.7;
}

a[data-icon]:hover {
  opacity: 1;
}

[data-icon='edit'] {
  background-image: url(/assets/img/icons/create-24px.svg);
}

[data-icon='delete'] {
  background-image: url(/assets/img/icons/delete-24px.svg);
}

[data-icon='view'] {
  background-image: url(/assets/img/icons/visibility-24px.svg);
}

[data-icon='back'] {
  background-image: url(/assets/img/icons/arrow_back-24px.svg);
}

[data-icon='help'] {
  background-image: url(/assets/img/icons/help_outline-24px.svg);
}

/**
 * Typography
 */

.text-error {
  color: #ea4335;
}

.text-warning {
  color: #fbbc05;
}

.text-success {
  color: #34a853;
}

.text-info {
  color: rgb(26, 115, 232);
}

/**
 * Mobile friendly
 *
 * Note: Pizzly works best with a large screen. Here we try to optimize
 * the user experience, but not all features might work as expected.
 */

@media (max-width: 30rem) {
  body > header .logo {
    position: relative;
    right: auto;
    top: auto;
    padding-top: 1rem;
  }

  body > header nav {
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }

  body > main .api-list li {
    width: 7rem;
  }

  body > main .table {
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }

  .api-list figure div {
    width: 8rem;
    height: 8rem;
  }

  body > header nav::-webkit-scrollbar {
    display: none;
  }

  body > footer .content {
    display: block;
    text-align: center;
  }
}
