html,
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f1f3f4;
  margin: 0;
  padding: 0;
  color: #333;
}

.container {
  max-width: 60rem;
  padding: 0 1.5rem;
  margin: 0 auto;
  position: relative;
}

.hero {
  margin: auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-size: 3rem;
}

/**
 * Home nav
 */

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-bottom: 2rem;
}

nav ul li:first-child {
  margin-right: 2rem;
}

nav ul li label {
  display: block;
  color: #999;
  padding-bottom: 8px;
}

/**
 * Buttons
 */

.button {
  display: inline-block;
  text-decoration: none;
  color: #333;
  padding: 0.5rem 1rem;
  font-weight: 500;
  background: #e7e7e9;
  border-radius: 0.25rem;
  border: 1px solid transparent;
  font-size: 0.95rem;
  cursor: pointer;
  outline: none;
  min-width: 150px;
  text-align: center;
}

.button:hover {
  background-color: #d3d3d3;
}

.button-primary {
  background-color: #207af9;
  color: white;
}

.button-primary:hover {
  background-color: #0d6ff8;
}

.button-primary-outline {
  background-color: white;
  border: 1px solid #207af9;
  color: #207af9;
}

.button-primary-outline:hover {
  background-color: #207af9;
  color: white;
}
