###############################################################################
#
# Secure your instance
#
# 1. Secure access to the dashboard
#
export DASHBOARD_USER=""
export DASHBOARD_PASSWORD=""
#
# 2. Secure requests to the API
#
export SECRET_KEY=""
export PUBLISHABLE_KEY=""
#
# 3. Allow or disable requests to the proxy service using a publishable key.
#    FALSE by default to allow request with a publishable key or a secret key.
#    Set to TRUE to only allow access having a valid secret key.
#
export PROXY_USES_SECRET_KEY_ONLY=false
#
# 4. Replace the default cookie secret to an unguessable string
#    Learn more: https://github.com/expressjs/cookie-session
#
export COOKIE_SECRET="CHANGE_ME"
#
###############################################################################
# 
# Other options
#
# - Uncomment to set the callback URL used for the OAuth dance.
#   Otherwise, Pizzly will use the req.hostname.
#
# export AUTH_CALLBACK_URL="http://example.org/auth/callback"