###############################################################################
#
# Secure your instance
#
# 1. Secure access to the dashboard
#
export DASHBOARD_USERNAME=""
export DASHBOARD_PASSWORD=""
#
# 2. Secure requests to the API
#
export SECRET_KEY=""
export PUBLISHABLE_KEY=""
#
# 3. Allow or disable requests to the proxy service using a publishable key.
#    FALSE by default to allow request with a publishable key or a secret key.
#    Set to TRUE to only allow access having a valid secret key.
#
export PROXY_USES_SECRET_KEY_ONLY=false
#
# 4. Replace the default cookie secret to an unguessable string
#    Learn more: https://github.com/expressjs/cookie-session
#
export COOKIE_SECRET="CHANGE_ME"
#
###############################################################################
#
# Database connection
#
# 1. Use a connection URI
#
# export DATABASE_URL=""
#
# 2. Provide specific database attributes
#
# export DB_USER=""
# export DB_PASSWORD=""
# export DB_HOST=""
# export DB_PORT=""
# export DB_DATABASE="pizzly"
#
#
###############################################################################
# 
# Other options
#
# - Uncomment to set the callback URL used for the OAuth dance.
#   Otherwise, Pizzly will use the req.hostname.
#
# export AUTH_CALLBACK_URL="http://example.org/auth/callback"
#
# - Uncomment to enable Bearer.sh to monitor and shield your Pizzly instance.
#   To get your BEARER_SECRET_KEY, create an account on www.bearer.sh
#   then heads to https://app.bearer.sh/settings/key
#
# export BEARER_SECRET_KEY=""