<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pizzly</title>
    <link rel="shorcut icon" sizes="128x128" type="image/x-icon" href="/assets/img/logos/favicon.ico" />
    <link rel="stylesheet" href="/assets/css/hero.css" />
  </head>
  <body>
    <main class="container hero">
      <section>
        <img style="opacity:0.8" src="/assets/img/logos/pizzly.png" height="200" />
        <h1>Welcome to Pizzly</h1>
        <nav>
          <ul>
            <li>
              <p>How it works:</p>
              <a class="button button-primary" href="https://github.com/Bearer/Pizzly/wiki">Getting started</a>
            </li>
            <li>
              <p>Settings:</p>
              <a class="button button-primary" href="/dashboard">Open dashboard</a>
              <a class="button button-primary" href="/dashboard/settings">Secure your instance</a>
            </li>
          </ul>
        </nav>
      </section>
    </main>
  </body>

  <%- include('dashboard/telemetry') -%>
</html>
