<header>
  <div class="container">
    <a href="/dashboard/"><img src="/assets/img/logos/pizzly.png" class="logo" alt="Pizzly"/></a>

    <h1>APIs</h1>

    <nav>
      <ol>
        <li class="active">
          <a href="/dashboard">Enabled</a>
        </li>

        <li>
          <a href="/dashboard/all">All</a>
        </li>
      </ol>
    </nav>
  </div>
</header>
