<!--
This page is the first step (trigger) toward performing an OAuth dance,
when using Pizzly's JavaScript client.

The OAuth dance works as follow:
1. On a webpage, the `.connect()` method of Pizzly's JavaScript client is triggered
2. That method opens a popup which points toward the present page 
2. Right after, it redirects to the `/auth` endpoint
3. This endpoint check the API configuration and redirect the user to the OAuth authorize URL
4. The user has new left Pizzly to grant access according to the third-party website process.
5. On success, the user is redirected back to Pizzly, on the `/auth/callback` endpoint
6. That page (`dance-callback`) informs the 
-->

<html>
  <head></head>
  <body></body>
</html>
