<html>
  <head>
    <script type="application/javascript">
      window.scenarioId = '{{integrationUuid}}'
      window.authId = '{{authId}}'
      window.authError = '{{error}}'
      window.authErrorDescription = '{{error_description}}'
    </script>
  </head>
  <body></body>
</html>
