@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --radius: 0.5rem;

        --color-primary: #000000;
        --color-on-primary: #ffffff;
        --color-background: #ffffff;
        --color-surface: #f4f4f5;
        --color-text: #000000;
        --color-text-muted: #a9acb3;
    }

    .dark {
        --primary: #ffffff;
        --on-primary: #000000;
    }
}

body {
    font-size: 14px;
}
