@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --radius: 0.5rem;

        --primary: #000000;
    }

    .dark {
        --primary: #ffffff;
    }
}

body {
    font-size: 14px;
}
