@import 'tailwindcss';
@import '../tokens/tokens.generated.css';

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: var(--ds-typography-fontFamily-sans);
    background-color: var(--surface-canvas);
    color: var(--text-default);
    margin: 0;
    padding: 0;
}
