openapi: '3.1.0'
info:
    title: 'Nango API'
    description: 'Nango API specs used to authorize & sync data with external APIs.'
    version: '1.0.0'
servers:
    - url: https://api.nango.dev
      description: Production server
    - url: http://localhost:3003
      description: Local server
paths:
    /config:
        get:
            description: Returns a list of integrations
            responses:
                '200':
                    description: Successfully returned a list of integrations
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - configs
                                properties:
                                    configs:
                                        type: array
                                        items:
                                            type: object
                                            required:
                                                - unique_key
                                                - provider
                                            properties:
                                                unique_key:
                                                    type: string
                                                    description: The integration ID that you created in Nango.
                                                provider:
                                                    type: string
                                                    description: The Nango API Configuration.
        post:
            description: Create a new integration
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required:
                                - provider_config_key
                                - provider
                            properties:
                                provider_config_key:
                                    type: string
                                    description: The integration ID that you created on Nango.
                                provider:
                                    type: string
                                    description: The Nango API Configuration.
                                oauth_client_id:
                                    type: string
                                    description: The ID of your OAuth app (registed with the external API). Required for OAuth APIs.
                                oauth_client_secret:
                                    type: string
                                    description: The secret of your OAuth app (registed with the external API). Required for OAuth APIs.
                                oauth_scopes:
                                    type: string
                                    description: Comma separated list of scopes.
            responses:
                '200':
                    description: Successfully created an integrations
                '400':
                    description: Invalid request
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    message:
                                        type: string
        put:
            description: Edit an integration (only for OAuth APIs)
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required:
                                - provider_config_key
                                - provider
                                - oauth_client_id
                                - oauth_client_secret
                            properties:
                                provider_config_key:
                                    type: string
                                    description: The integration ID that you created on Nango.
                                provider:
                                    type: string
                                    description: The Nango API Configuration.
                                oauth_client_id:
                                    type: string
                                    description: The ID of your OAuth app (registed with the external API).
                                oauth_client_secret:
                                    type: string
                                    description: The secret of your OAuth app (registed with the external API).
                                oauth_scopes:
                                    type: string
                                    description: Comma separated list of scopes.
            responses:
                '200':
                    description: Successfully edit an integration
                '400':
                    description: Invalid request
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    message:
                                        type: string
                '404':
                    description: Unknown integration
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    message:
                                        type: string
    /config/{providerConfigKey}:
        get:
            description: Returns a specific integration
            parameters:
                - name: providerConfigKey
                  in: path
                  required: true
                  schema:
                      type: string
                  description: The integration ID that you created in Nango.
                - name: include_creds
                  in: query
                  required: false
                  description: If true, the response will contain the client ID, secret and scopes (false by default).
                  schema:
                      type: boolean
            responses:
                '200':
                    description: Successfully returned an integration
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - config
                                properties:
                                    config:
                                        type: object
                                        required:
                                            - unique_key
                                            - provider
                                        properties:
                                            unique_key:
                                                type: string
                                                description: The integration ID that you created in Nango.
                                            provider:
                                                type: string
                                                description: The Nango API Configuration.
                '400':
                    description: Invalid request
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    message:
                                        type: string
                '404':
                    description: Unknown integration
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    message:
                                        type: string
        delete:
            description: Deletes a specific integration
            parameters:
                - name: providerConfigKey
                  in: path
                  required: true
                  schema:
                      type: string
                  description: The integration ID that you created in Nango.
            responses:
                '204':
                    description: Successfully deleled an integration
                '400':
                    description: Invalid request
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    message:
                                        type: string
                '404':
                    description: Unknown integration
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    message:
                                        type: string
    /connection:
        get:
            description: Returns a list of connections
            responses:
                '200':
                    description: Successfully returned a list of connections
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - configs
                                properties:
                                    configs:
                                        type: array
                                        items:
                                            type: object
                                            required:
                                                - id
                                                - connection_id
                                                - provider
                                                - created
                                            properties:
                                                id:
                                                    type: integer
                                                    description: The internal Nango ID used for the connection.
                                                connection_id:
                                                    type: string
                                                    description: The connection ID used to create the connection.
                                                provider:
                                                    type: string
                                                    description: The integration ID used to create the connection (aka Unique Key, Provider Config Key).
                                                created:
                                                    type: string
                                                    description: Connection creation date.
        post:
            description: Adds a connection for which you already have an access token
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required:
                                - connection_id
                                - provider_config_key
                            properties:
                                connection_id:
                                    type: string
                                    description: The connection ID used to create the connection.
                                provider_config_key:
                                    type: string
                                    description: The integration ID that you created on Nango.
                                access_token:
                                    type: string
                                    description: (OAuth 2, required) Existing access token.
                                refresh_token:
                                    type: string
                                    description: (OAuth 2, optional) Pass the refresh token if you have it.
                                expires_at:
                                    type: Date
                                    description: (OAuth 2, optional) Safer and preferred.
                                expires_in:
                                    type: integer
                                    description: (OAuth 2, optional) In seconds.
                                oauth_token:
                                    type: string
                                    description: (OAuth 1, required) The client token to be attached to the connection.
                                oauth_token_secret:
                                    type: string
                                    description: (OAuth 1, required) The client token secret to be attached to the connection.
                                metadata:
                                    type: object
                                    description: (OAuth, required for some APIs) Metadata to be attached to the connection.
                                connection_config:
                                    type: object
                                    description: (OAuth, required for some APIs) Additional configuration to be attached to the connection.
                                username:
                                    type: string
                                    description: (Basic, required) username to be attached to the connection.
                                password:
                                    type: string
                                    description: (Basic, required) password to be attached to the connection.
                                api_key:
                                    type: string
                                    description: (API Key, required) API key to be attached to the connection.
            responses:
                '200':
                    description: Successfully created an integrations
                '400':
                    description: Invalid request
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    message:
                                        type: string

    /connection/{connectionId}:
        get:
            description: Returns a specific connection
            parameters:
                - name: connectionId
                  in: path
                  required: true
                  schema:
                      type: string
                  description: The connection ID used to create the connection.
                - name: provider_config_key
                  in: query
                  required: true
                  description: The integration ID used to create the connection (aka Unique Key).
                  schema:
                      type: string
                - name: force_refresh
                  in: query
                  description: If true, Nango will attempt to refresh the access access token regardless of its expiration status (false by default).
                  schema:
                      type: boolean
                - name: refresh_token
                  in: query
                  description: If true, return the refresh token as part of the response (false by default).
                  schema:
                      type: boolean
            responses:
                '200':
                    description: Successfully returned a connection
                    # content:
                    #     application/json:
                    #         schema:
                    #             type: object
                    #             required:
                    #                 - id
                    #                 - created_at
                    #                 - updated_at
                    #                 - provider_config_key
                    #                 - connection_id
                    #                 - credentials
                    #             properties:
                    #                 id:
                    #                     type: integer
                    #                     description: The internal Nango ID used for the connection.
                    #                 created_at:
                    #                     type: string
                    #                     description: connection creation date.
                    #                 updated_at:
                    #                     type: string
                    #                     description: connection update date.
                    #                 provider_config_key:
                    #                     type: string
                    #                     description: The integration ID used to create the connection (aka Unique Key).
                    #                 connection_id:
                    #                     type: string
                    #                     description: The connection ID used to create the connection.
                    #                 connection_config:
                    #                     type: object
                    #                     description: Important configuration passed in by you during the OAuth flow.
                    #                 metadata:
                    #                     type: object
                    #                     description: Important metadata passed in by the external API during the OAuth flow.
                    #                 credentials:
                    #                     type: object
                    #                     description: The credentials to access the external API.

                '400':
                    description: Invalid request
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    message:
                                        type: string
                '404':
                    description: Unknown Connection
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    message:
                                        type: string
        delete:
            description: Deletes a specific connection
            parameters:
                - name: connectionId
                  in: path
                  required: true
                  schema:
                      type: string
                  description: The connection ID used to create the connection.
                - name: provider_config_key
                  in: query
                  required: true
                  description: The integration ID used to create the connection (aka Unique Key).
                  schema:
                      type: string
            responses:
                '204':
                    description: Successfully deleled an connection
                '400':
                    description: Invalid request
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    message:
                                        type: string
                '404':
                    description: Unknown connection
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    message:
                                        type: string
    /connection/{connectionId}/metadata:
        post:
            description: Set custom metadata for the connection.
            parameters:
                - name: connectionId
                  in: path
                  required: true
                  schema:
                      type: string
                  description: The connection ID used to create the connection.
                - name: Provider-Config-Key
                  in: header
                  required: true
                  description: The integration ID used to create the connection (aka Unique Key).
                  schema:
                      type: string
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object

            responses:
                '201':
                    description: Successfully created an integrations
                '400':
                    description: Invalid request
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    message:
                                        type: string

    /sync/records:
        get:
            description: Returns data synced with Nango Sync
            parameters:
                - name: model
                  in: query
                  required: true
                  schema:
                      type: string
                  description: The data model to fetch
                - name: delta
                  in: query
                  required: false
                  schema:
                      type: string
                  description: Timestamp, e.g. 2023-05-31T11:46:13.390Z. If passed only records added or updated after this timestamp are returned, otherwise all records are returned.
                - name: limit
                  in: query
                  required: false
                  schema:
                      type: integer
                  description: The maximum number of records to return. If not passed, all records are returned.
                - name: offset
                  in: query
                  required: false
                  schema:
                      type: integer
                  description: The number of records to skip. If not passed, no records are skipped.
                - name: sort_by
                  in: query
                  required: false
                  schema:
                      type: string
                      enum: [created_at, updated_at, id]
                  description: Set how the records are sorted. The default is id. The options are 'created_at', 'updated_at', 'id'.
                - name: order
                  in: query
                  required: false
                  schema:
                      type: string
                      enum: [desc, asc]
                  description: Set the order of results. The default is 'desc'. The options are 'desc' or 'asc'.
                - name: include_nango_metadata
                  in: query
                  required: false
                  schema:
                      type: boolean
                  description: If set to true, includes Nango metadata for each record in the response. Default is 'false'.
                - name: filter
                  in: query
                  required: false
                  schema:
                      type: string
                      enum: [added, updated, deleted]
                  description: Filter to only show results that have been added or updated or deleted. Helpful when used in conjuction with the delta parameter to retrieve a subset or records that were added, updated, or deleted with the latest sync.
                - name: Connection-Id
                  in: header
                  required: true
                  description: The connection ID used to create the connection.
                  schema:
                      type: string
                - name: Provider-Config-Key
                  in: header
                  required: true
                  description: The integration ID used to create the connection (aka Unique Key).
                  schema:
                      type: string
    /sync/trigger:
        post:
            description: Triggers an additional, one-off execution of specified sync(s) (for a given connection or all applicable connections if no connection is specified).
            requestBody:
                content:
                    application/json:
                        schema:
                            type: object
                            required:
                                - provider_config_key
                                - syncs
                            properties:
                                provider_config_key:
                                    type: string
                                    description: The ID of the integration that you established within Nango.
                                connection_id:
                                    type: string
                                    description: The ID of the connection. If omitted, the syncs will be triggered for all relevant connections.
                                syncs:
                                    type: array
                                    descriptions: A list of sync names that you wish to trigger.
                                    items:
                                        type: string
    /sync/start:
        post:
            description: Starts the continuous execution of specified sync(s) (for a given connection or all applicable connections if no connection is specified).
            requestBody:
                content:
                    application/json:
                        schema:
                            type: object
                            required:
                                - provider_config_key
                                - syncs
                            properties:
                                provider_config_key:
                                    type: string
                                    description: The ID of the integration that you established within Nango.
                                connection_id:
                                    type: string
                                    description: The ID of the connection. If omitted, the syncs will be started for all relevant connections.
                                syncs:
                                    type: array
                                    descriptions: A list of sync names that you wish to start.
                                    items:
                                        type: string
    /sync/pause:
        post:
            description: Pauses the continuous execution of specified sync(s) (for a given connection or all applicable connections if no connection is specified).
            requestBody:
                content:
                    application/json:
                        schema:
                            type: object
                            required:
                                - provider_config_key
                                - syncs
                            properties:
                                provider_config_key:
                                    type: string
                                    description: The ID of the integration that you established within Nango.
                                connection_id:
                                    type: string
                                    description: The ID of the connection. If omitted, the syncs will be paused for all relevant connections.
                                syncs:
                                    type: array
                                    descriptions: A list of sync names that you wish to pause.
                                    items:
                                        type: string
    /action/trigger:
        post:
            description: Triggers an action for a connection
            parameters:
                - name: Connection-Id
                  in: header
                  required: true
                  description: The connection ID used to create the connection.
                  schema:
                      type: string
                - name: Provider-Config-Key
                  in: header
                  required: true
                  description: The integration ID used to create the connection (aka Unique Key).
                  schema:
                      type: string
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required:
                                - action_name
                            properties:
                                action_name:
                                    type: string
                                    description: The name of the action to trigger.
                                input:
                                    type: object
                                    description: The necessary input for your action's 'runAction' function.
    /proxy/{anyPath}:
        get:
            description: Make a GET request with the Proxy.
            parameters:
                - name: anyPath
                  in: path
                  required: true
                  schema:
                      type: string
                - name: $ANY_QUERY_PARAMS
                  in: query
                  required: true
                  schema:
                      type: string
                - in: header
                  name: Connection-Id
                  required: true
                  schema:
                      type: string
                  description: The connection ID used to create the connection.
                - in: header
                  name: Provider-Config-Key
                  required: true
                  schema:
                      type: string
                  description: The integration ID used to create the connection (aka Unique Key).
                - in: header
                  name: Retries
                  schema:
                      type: string
                  description: The number of retries in case of failure (with exponential back-off). Optional, default 0.
                - in: header
                  name: Base-Url-Override
                  schema:
                      type: string
                  description: Provide an API base URL when the base API is not listed in the providers.yaml or it needs to be overridden. Optional
                - in: header
                  name: nango-proxy-$ANY_HEADER
                  schema:
                      type: string
                  description: Any other headers you send are passed on to the external API
        post:
            description: Make a POST request with the Proxy.
            parameters:
                - name: anyPath
                  in: path
                  required: true
                  schema:
                      type: string
                - in: header
                  name: Connection-Id
                  required: true
                  schema:
                      type: string
                  description: The connection ID used to create the connection.
                - in: header
                  name: Provider-Config-Key
                  required: true
                  schema:
                      type: string
                  description: The integration ID used to create the connection (aka Unique Key).
                - in: header
                  name: Retries
                  schema:
                      type: string
                  description: The number of retries in case of failure (with exponential back-off). Optional, default 0.
                - in: header
                  name: Base-Url-Override
                  schema:
                      type: string
                  description: Provide an API base URL when the base API is not listed in the providers.yaml or it needs to be overridden. Optional
                - in: header
                  name: nango-proxy-$ANY_HEADER
                  schema:
                      type: string
                  description: Any other headers you send are passed on to the external API
            requestBody:
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                $ANY_BODY_PARAMS:
                                    type: string
        put:
            description: Make a PUT request with the Proxy.
            parameters:
                - name: anyPath
                  in: path
                  required: true
                  schema:
                      type: string
                - in: header
                  name: Connection-Id
                  required: true
                  schema:
                      type: string
                  description: The connection ID used to create the connection.
                - in: header
                  name: Provider-Config-Key
                  required: true
                  schema:
                      type: string
                  description: The integration ID used to create the connection (aka Unique Key).
                - in: header
                  name: Retries
                  schema:
                      type: string
                  description: The number of retries in case of failure (with exponential back-off). Optional, default 0.
                - in: header
                  name: Base-Url-Override
                  schema:
                      type: string
                  description: Provide an API base URL when the base API is not listed in the providers.yaml or it needs to be overridden. Optional
                - in: header
                  name: nango-proxy-$ANY_HEADER
                  schema:
                      type: string
                  description: Any other headers you send are passed on to the external API
            requestBody:
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                $ANY_BODY_PARAMS:
                                    type: string
        patch:
            description: Make a PATCH request with the Proxy.
            parameters:
                - name: anyPath
                  in: path
                  required: true
                  schema:
                      type: string
                - in: header
                  name: Connection-Id
                  required: true
                  schema:
                      type: string
                  description: The connection ID used to create the connection.
                - in: header
                  name: Provider-Config-Key
                  required: true
                  schema:
                      type: string
                  description: The integration ID used to create the connection (aka Unique Key).
                - in: header
                  name: Retries
                  schema:
                      type: string
                  description: The number of retries in case of failure (with exponential back-off). Optional, default 0.
                - in: header
                  name: Base-Url-Override
                  schema:
                      type: string
                  description: Provide an API base URL when the base API is not listed in the providers.yaml or it needs to be overridden. Optional
                - in: header
                  name: nango-proxy-$ANY_HEADER
                  schema:
                      type: string
                  description: Any other headers you send are passed on to the external API
            requestBody:
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                $ANY_BODY_PARAMS:
                                    type: string
        delete:
            description: Make a DELETE request with the Proxy.
            parameters:
                - name: anyPath
                  in: path
                  required: true
                  schema:
                      type: string
                - name: $ANY_QUERY_PARAMS
                  in: query
                  required: true
                  schema:
                      type: string
                - in: header
                  name: Connection-Id
                  required: true
                  schema:
                      type: string
                  description: The connection ID used to create the connection.
                - in: header
                  name: Provider-Config-Key
                  required: true
                  schema:
                      type: string
                  description: The integration ID used to create the connection (aka Unique Key).
                - in: header
                  name: Retries
                  schema:
                      type: string
                  description: The number of retries in case of failure (with exponential back-off). Optional, default 0.
                - in: header
                  name: Base-Url-Override
                  schema:
                      type: string
                  description: Provide an API base URL when the base API is not listed in the providers.yaml or it needs to be overridden. Optional
                - in: header
                  name: nango-proxy-$ANY_HEADER
                  schema:
                      type: string
                  description: Any other headers you send are passed on to the external API
