@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500;600;700&display=swap');

html,
body,
#root {
    width: 100%;
    height: 100%;
    background-color: #010101;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.transparent-code .language-json {
    background-color: transparent !important;
}

.transparent-code .language-typescript {
    background-color: transparent !important;
}

.break-all-words .token.string {
    word-break: break-all;
    white-space: 'normal';
}

.mantine-Prism-code {
    font-family: 'Roboto Mono';
}

/* Custom classes */
.title-screen {
    @apply text-[40px] leading-[48px] font-bold;
}

.title-section {
    @apply text-[32px] leading-[40px] font-bold;
}

.title-subsection {
    @apply text-[24px] leading-[32px] font-bold;
}

.title-group {
    @apply text-[20px] leading-[28px] font-bold;
}

.title-body {
    @apply text-[18px] leading-[24px] font-semibold;
}
