html,
body,
#root {
    width: 100%;
    height: 100%;
    background-color: #010101;
}

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.transparent-code .language-json {
    background-color: transparent !important;
}

.transparent-code .language-typescript {
    background-color: transparent !important;
}

.break-all-words .token.string {
    word-break: break-all;
    white-space: 'normal';
}

.mantine-Prism-code {
    font-family: 'Roboto Mono';
}

@layer base {
    :root {
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
    }

    .dark {
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
    }
}
