name: Nango Build

on: [push, pull_request]

concurrency:
    group: build-${{ github.event.pull_request.number || github.ref }}
    cancel-in-progress: true

jobs:
    nango_build_job:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                node-version: [19.x]

        steps:
            - uses: actions/checkout@v3
            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v3
              with:
                  node-version: ${{ matrix.node-version }}
            - run: npm config set prefix ./packages && npm run build:hosted
