name: 'Lint PR'

on:
    pull_request:
        types:
            - opened
            - edited
            - synchronize

permissions:
    pull-requests: read

jobs:
    lint-pr:
        name: Validate PR title
        runs-on: ubuntu-latest
        steps:
            - uses: amannn/action-semantic-pull-request@v5
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
